@{
    ViewData["Title"] = "Home Page";
}
<p>@ViewBag.name</p>
<div class="text-center">
    <form method="post">
        <input name="name" type="text">
        <input type="submit" value="stuff">
    </form>
</div>
