@{
    ViewData["Title"] = "Home Page";
}
<p>@ViewBag.name</p>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <script src="script.js"></script>

    <h1>Business Card QR Code Generator</h1>
    <p>Fill in the information below, then click to generate your business card and QR code:</p>

    <form method="post" id="card-info">

        <label>Name:</label>
        <input type="text" id="name" />
        </br>
        <label>Job title:</label>
        <input type="text" id="job-title" />
        </br>
        <label>Business:</label>
        <input type="text" id="business" />
        </br>
        <label>Address:</label>
        <input type="text" id="address" />
        </br>
        <label>Email:</label>
        <input type="text" id="email" />
        </br>
        <label>Phone #:</label>
        <input type="text" id="phone-number" />
        </br>
        </br>

    </form>

    <button type="button" id="generate" onclick="generateCard()">Generate Business Card</button>
    </br>
    </br>

    <div id="card-gen">
        <h2 id="name-card"></h2>
        <h3 id="job-title-card"></h3>
        <h3 id="business-card"></h3>
        <img src="BusinessQR.bmp" id="qr-code" style="float: right;">
        <p id="address-card" style="padding-left: 10px;"></p>
        <p id="email-card" style="padding-left: 10px;"></p>
        <p id="phone-number-card" style="padding-left: 10px;"></p>
    </div>

</body>

<div class="text-center">
    <form method="post">
        <input name="name" type="text">
        <input type="submit" value="stuff">
    </form>
</div>
